@inject IJSRuntime JsRuntime;

<div id="canvasContainer" @ref="container" >
    <Canvas @onmousemove="MouseMoveCanvasAsync"
            @onmouseup="MouseUpCanvas" 
            @onmousedown="MouseDownCanvas"
            @ref="helper_canvas" 
            Width="400"
            Height="400"  ></Canvas>
</div>


