
<div style="display: flex;">
    @for (var i = 1; i <= MaxRating; i++)
    {
        var i1 = i;
        var c = i <= Rating ? '★' : '☆';
    
        <button  style="margin-left: 0; border: none; background: transparent;" @onclick="()=> Rating = i1">@c</button>
    }
</div>


@code {


    [Parameter] public EventCallback<int?> RatingChanged { get; set; }

    private int? _rating;

    [Parameter]
    public int? Rating
    {
        get => _rating;
        set
        {
            if (_rating == value)
            {
                return;
            }
            _rating = value;

            RatingChanged.InvokeAsync(_rating);
        }
    }

    [Parameter]
    public int MaxRating { get; set; } = 5;

}

